@{
    Layout = "~/Views/Shared/_LayoutAdminLeftSide.cshtml";
}

@model IEnumerable<Devevil.Blog.MVC.Client.Models.CategoryViewModel>

@section content{
<!-- Content -->
<div id="content" class="8u 12u(mobile)">
    <div class="row 50%">
        <div class="8u 12u(mobile)">
            <h1>Gestione categorie</h1>
        </div>
    </div>
    <div></div>
    <section>
        <div class="row 50%">
            <div class="8u 12u(mobile)">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@Html.ActionLink("Aggiungi Nuova", "Index", new { controller = "Contact" }, new { @class = "icon fa-pencil" })</td>
                    </tr>
                    <tr>
                        <td><strong>Nome categoria</strong></td>
                        <td><strong>Descrizione categoria</strong></td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td>@Html.ActionLink("Modifica", "Index", new { controller = "Contact" }, new { @class = "icon fa-pencil" })</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</div>
}