@{
    Layout = "~/Views/Shared/_LayoutAdminLeftSide.cshtml";
}

@section content{
<div id="content" class="8u 12u(mobile) important(mobile)">
<!-- Post -->
	<article class="box post">
		<header>
			<h2>Bentornato!</h2>
		</header>
		<h3>Comincia a gestire il blog...</h3>
        <p>Oggi è il giorno: @DateTime.Today.ToShortDateString()</p>
        <p>Sono le ore: @DateTime.Now.TimeOfDay.ToString()</p>
		<p>Scegli dal menù laterale l'operazione da eseguire.</p>
	</article>

</div>   
}