@model Devevil.Blog.MVC.Client.Models.MessageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main{
    <!-- Main -->
    <div id="main-wrapper">
        @*<div id="main" class="container">
            <div class="row">
            </div>
        </div>*@
    </div>
}         

@section footMessage{
    @Html.Partial("../Shared/_Message", new Devevil.Blog.MVC.Client.Models.MessageViewModel())
}
