@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main{
<!-- Main -->
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			<!-- Content -->
			<div id="content" class="8u 12u(mobile)">
                <h1>OOPS... Sembra si sia verificato un errore... sono mortificato!</h1>
            </div>
        </div>
    </div>
</div>
}