@model Devevil.Blog.MVC.Client.Models.MessageViewModel

<div class="6u 12u(mobile)">
	<section>
        <form method="post" action="#">
		    <div class="row 50%">
			    <div class="6u 12u(mobile)">

				    <input name="name" placeholder="Name" type="text" />
			    </div>
			    <div class="6u 12u(mobile)">

				    <input name="email" placeholder="Email" type="text" />
			    </div>
		    </div>
		    <div class="row 50%">
			    <div class="12u">
               
				    <textarea name="message" placeholder="Message"></textarea>
			    </div>
		    </div>
		    <div class="row 50%">
			    <div class="12u">
                        <input class="form-button-submit button icon fa-envelope" type="submit" value="Invia messaggio" />
				    <a href="#" class="form-button-submit button icon fa-envelope" type="">Send Message</a>
			    </div>
		    </div>
        </form>
	</section>
</div>
