<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />  
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <!-- Change these to Oracle, Sql2000 etc-->
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <!-- Connection string or connection string name -->
      <!--<property name="connection.connection_string">Server=.\SQLEXPRESS;Database=Northwind;Integrated Security=True;</property>-->
      <property name="connection.connection_string_name">Northwind</property>
      <!-- web or thread_static-->
      <property name="current_session_context_class">thread_static</property>
      <!-- Help debugging-->
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=localhost; Initial Catalog=Blog; Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <log4net>
    <appender name="NHibernate.SQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.SQL" />
    </logger>
  </log4net>
</configuration>