@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{
<div id="main">
    <!-- Post -->
    <article class="post">
	    <header>
		    <div class="title">
			    <h2>About me</h2>
		    </div>
	    </header>
        <p>Il mio nome è Pasquale Garzillo e da sempre ho la passione per tutto ciò che riguarda il mondo IT. Mi piace in particolare approfondire gli aspetti legati all'ingegneria del software, la progettazione di sistemi informativi complessi e strutturati e lo sviluppo attraverso le tecnologie Microsoft, in particolare il framework .NET</p>
        <p><a>Visualizza il mio profilo professionale su LinkedIn</a></p>
        <p>Scarica il mio CV aggiornato</p>
    </article>
</div>
}