@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section main{
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            Pagina di installazione del BLOG...
        </div>
    </div>
</div>
}
    