@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section content{
<div id="main">
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2>Backend del Blog</h2>
            </div>
        </header>
        <p>Oggi è il giorno: @DateTime.Today.ToShortDateString()</p>
        <p>Sono le ore: @String.Format("{0}:{1}", DateTime.Now.Hour, DateTime.Now.Minute)</p>
        <footer>
            <ul class="actions">
                <li><button name="Logout" value="Login" class="button big" onclick="location.href = '/Manage/Logout'">Logout</button></li>
            </ul>
        </footer>
    </article>

</div>   
}